@{
    ViewBag.Title = "About";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('/images/bg-01.jpg' ); ">
    <h2 class="ltext-105 cl0 txt-center">
        About
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Story
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Welcome to our site, a specialized printing service that offers high-quality printing on T-shirts. We pride ourselves on providing a wide range of customization options to our customers, allowing them to create unique and personalized T-shirts for any occasion.

                        Our printing process is based on the latest digital technology, which enables us to produce high-quality prints that are both durable and long-lasting. We use only the highest quality materials in our printing process, including top-of-the-line inks and fabrics, to ensure that our customers receive the best possible products.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        We understand that every customer has unique needs and preferences, which is why we offer a wide range of customization options to meet those needs. Our customers can choose from a variety of T-shirt styles, colors, and sizes, and they can also upload their own designs or choose from our library of pre-designed templates. We work closely with our customers throughout the design and printing process to ensure that they are completely satisfied with the final product.

                        In addition to our commitment to quality and customization, we are also dedicated to providing excellent customer service. Our friendly and knowledgeable team is always available to answer any questions or concerns that our customers may have, and we strive to provide prompt and reliable service at all times.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Thank you for choosing us for your T-shirt printing needs. We look forward to working with you to create the perfect customized T-shirts for your next event or occasion.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Our Mission
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Our mission is to provide a superior and high-quality T-shirt printing service to our customers, with a focus on quality, customization, and excellent customer service. We strive to meet the needs and desires of our customers by offering a wide range of customization options, from designing their own T-shirts and choosing the right colors and sizes, to using the best materials in the printing process. We believe that every T-shirt should be unique and distinctive, which is why we work to provide a fun and easy design and printing experience for our customers.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            We are always looking to improve our services and technologies to meet our customers' expectations, and we aim to be the best choice for individuals and companies looking for high-quality T-shirt printing at reasonable prices and excellent customer service. We have a specialized and friendly team that works diligently to ensure customer satisfaction at every stage of the process, and we strive to achieve the best results for our customers.
                        </p>

                        <span class="stext-111 cl8">
                            - Ashraf Shwayat
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

